.aboutMe {

	&Container {
		width: 100%;
		height: auto;
		padding: 0 20px 20px;
	}
	.intro {
		font-size: 4rem;
		color: $color1;
		padding: 0;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: auto;
	}
	.blurb {
		font-size: 2rem;
		text-align: left;
		width: 100%;
		margin: 40px auto;
		border-bottom: 1px solid grey;
		padding-bottom: 20px;

		span {
			color: $color1;
			font-weight: bold;
		}
	}

	h3 {
		font-size: 1.8rem;
		margin: 20px 0;
	}

	ul {
		width: 50%;
		font-size: 1.4rem;

		li {
			margin: 10px 0;
			width: 80%;
		}
		i {
			margin-right: 5px;
		}

		span:nth-child(odd) {
			font-weight: bold;
		}

		span {
			width: 50%;
		}
	}

	.contentImgContainer {
		width: 30%;
		min-width: 170px;
		padding: 20px;

		img {
			border-radius: 0;
		}
	}
}