aside {
	@include flexCol(space-between, stretch);
	height: 80vh;
	width: 27.5%;
	margin-top: 10vh;
	padding-top: 20px;
	background: $white;
	border-radius: 20px 0 0 20px;
	box-shadow: 0 0 10px 5px #ccdce3;
	text-align: center;

	.imgContainer {
		width: 70%;
		margin: 0 15%;
	}

	img {
		border-radius: 50%;
	}

	p {
		font-size: 1.6rem;
		text-transform: capitalize;
	}

	span {
		font-weight: bold;
	}

	h1 {
		font-size: 2.2rem;
		color: $color5;
		margin-bottom: 10px;
	}
}

nav {
	@include flexCol(center, stretch);
	border-radius: 0 0 0 20px;
	overflow: hidden;
	position: relative;
    text-align: left;

	a{
		font-size: 2rem;
		padding: 10px;
		position: relative;
		z-index: 2;
		width: 100%;
	}

	.fas {
		// margin: 0 40px 0 10px;
		// margin: 0 10% 0 2.5%;
		margin-left: calc(5% - 10px);
		margin-right: 10%;
		color: $white;
	}

	li {
        position: relative;
		transition: color 0.3s;
		
		span {
			display: inline-block;
			width:20%;
		}
    }
    
    li:hover {
        color: $white;
    }

	li:after {
		content: " ";
		position: absolute;
		width: calc(90% - 20px);
		height: 100%;
		top: 0;
		right: 0;
		background-color: $white;
        transition: width 0.4s;
        border-top: 0.5px solid #f2f1f1;
        border-bottom: 0.5px solid #f2f1f1;
	}
	
	span {
		width:20%;
		padding: 0 5%;
	}

	// li:hover:after,
	li.activeNav:after {
		width: 0%;
	}
li:hover {
	color: $color1;
}
	li.activeNav {
		color: $white;
	}
}
