.wrapper {
	width: 80%;
	max-width: 1080px;
	margin: 0 auto;
	@include flexRow(flex-start, flex-start);
}

main {
    height: 100vh;
    width: 72.5%;
    position: relative;
    overflow-y: scroll;
    scroll-padding-top: 10vh;
    scroll-snap-type: y mandatory;
}

button {
	position: fixed;
    right: calc(10% + 50px);
	width: 50px;
	height: 50px;
    background: blue;
    box-shadow: 0 0 10px 2px #ccdce3;
    font-size: 1.4rem;
    color: $white;
    transition: box-shadow 0.2s, transform 0.2s, font-size 0.4s;
}

button.lightMode {
    background: $lightBackground;
    color: $black;
}

button:hover {
    font-size: 1.7rem;
}

button:active {
    box-shadow: none;
    transform: translateY(2.5px);
}

.toggle {
    border-radius: 0 20px 0 0;
    top: 10vh;
    background: $black;
}

.print {
    bottom: calc(10vh + 60px);
    background: $black;
}

.download {
    border-radius: 0 0 20px 0;
    background: $color5;
    bottom: 10vh;
}

