section {
	height: 80vh;
	margin: 10vh 0 20vh 3%;
	box-shadow: 0 0 10px 5px #ccdce3;
	border-radius: 0;
	width: calc(93% - 50px);
	scroll-snap-align: start;
	padding-top: 20px;

	&:first-of-type {
		margin-top: 10vh;
	}

	&:last-of-type {
		margin-bottom: 10vh;
	}

	h2 {
		width: 30%;
		padding: 10px 0 10px 20px;
		margin-top: 20px;
		color: $white;
		text-transform: capitalize;
		font-size: 2.2rem;

		i {
			margin-right: 5px;
		}
	}

	p {
		font-size: 1.6rem;
		margin: 20px;
		color: #707070;
		text-align: justify;
	}
}

section.aboutMe {
	.highlightContainer {
		@include flexRow(space-between, center);
		width: 100%;
		border-bottom: 1px solid grey;
	}

	ul {
		width: 50%;
		font-size: 1.4rem;

		li {
			width: 80%;
			@include flexRow(space-between, center);
		}

		span:nth-child(odd) {
			font-weight: bold;
		}

		span {
			width: 50%;
		}
	}

	.contentImgContainer {
		width: 30%;
		padding: 20px;

		img {
			border-radius: 0;
		}
	}
}

///////////////////////////////////////////////////////
section.skills {
	ul {
		margin: 20px;
		@include flexRow(center, center);
		flex-wrap: wrap;
		text-align: center;
		height: 80%;
	}
	&.lightTheme li {
		box-shadow: 0 0 10px 2px #ccdce3;
	}
	&.darkTheme li {
		background: $black;
		box-shadow: none;

		h3 {
			text-shadow: none;
		}

		i {
			color: $black;
		}
	}
	li {
		width: calc(20% - 10px);
		margin: 5px;
		padding: 10px;
		height: 40%;
		transition: background 0.5s, box-shadow 0.5s;

		div {
			width: 100%;
			padding: 10px 0;
			margin-bottom: 10px;
		}

		i {
			font-size: 7rem;
			background: transparent;
			color: $white;
		}

		img {
			height: 70px;
			width: auto;
			margin: 0 auto;
		}
	}
	h3 {
		font-size: 1.6rem;
		background: transparent;
		text-shadow: 0px 0px 1px #ccdce3;

		&.skill1 {
			color: $color1;
		}
		&.skill2 {
			color: $color2;
		}
		&.skill3 {
			color: $color3;
		}
		&.skill4 {
			color: $color4;
		}
		&.skill5 {
			color: $color5;
		}
	}
}

///////////////////////////////////////////////////////
section.resume {
	overflow-y: hidden;
	padding-bottom: 0;

	h3 {
		position: relative;
		display: inline-block;
		width: calc(100% - 20px);
		padding: 10px 20px;
		font-size: 2rem;
		color: $white;

		span {
			position: absolute;
			top: 16px;
			right: 20px;
			display: inline-block;
			border-right: 2px solid $white;
			border-bottom: 2px solid $white;
			width: 10px;
			height: 10px;
			transform: rotate(-45deg);
			transform-origin: center;
			transition: transform 0.2s;
		}
	}

	p {
		font-size: 1.2rem;
		margin: 0;
	}

	h4 {
		font-size: 1.6rem;
		span {
			font-style: italic;
			font-weight: normal;
			font-size: 1.4rem;
		}
	}

	li {
		font-size: 1.2rem;
	}

	.bulletPoint {
		position: relative;
		margin: 0;
		transition: margin 0.5s;
	}

	.bulletPoint:before {
		content: " ";
		width: 1.5rem;
		height: 1.5rem;
		line-height: 0.5;
		position: absolute;
		top: 0;
		left: -28px;
		border-radius: 50%;
	}

	.resumeInfo {
		position: relative;
		height: 0;
		transition: height 0.5s, margin 0.5s;
		background: inherit;
		color: inherit;
		padding: 0 20px;
	}
	.resumeInfo > ul {
		padding: 20px;
	}

	h3.activeResume span {
		transform: rotate(45deg);
	}

	h3.activeResume + .resumeInfo {
		position: relative;
		height: calc(80vh - 257px);

		.bulletPoint {
			margin-bottom: 20px;
		}
	}
}

.employment {
	p {
		color: $color1;
	}

	> ul {
		border-left: 2px solid $color1;
	}
	.bulletPoint:before {
		background: $color1;
	}
}
.education {
	p {
		color: $color2;
	}

	> ul {
		border-left: 2px solid $color2;
	}
	.bulletPoint:before {
		background: $color1;
	}
}
