section {
	height: 80vh;
	min-height: 501.4px;
	margin: 10vh 0 20vh 3%;
	box-shadow: 0 0 10px 5px #ccdce3;
	border-radius: 0;
	width: calc(93% - 50px);
	scroll-snap-align: start;
	padding-top: 20px;

	&:first-of-type {
		margin-top: 10vh;
	}

	&:last-of-type {
		margin-bottom: 10vh;
	}

	h2 {
		width: 30%;
		min-width: 170px;
		padding: 10px 0 10px 20px;
		color: $white;
		text-transform: capitalize;
		font-size: 2.2rem;

		i {
			margin-right: 5px;
		}
	}

	p {
		font-size: 1.6rem;
		margin: 20px;
		color: #707070;
	}
}

section.aboutMe {
	.highlightContainer {
		@include flexRow(flex-start, center);
		width: 100%;
		// border-bottom: 1px solid grey;
	}
	.intro {
		font-size: 4rem;
		color: $color1;
		padding: 0;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: auto;
	}
	p {
		font-size: 2rem;
		word-spacing: 1px;
		text-align: center;
		width: 80%;
		margin: 40px auto;
	}

	ul {
		width: 50%;
		font-size: 1.4rem;

		li {
			width: 80%;
			@include flexRow(space-between, center);
		}

		span:nth-child(odd) {
			font-weight: bold;
		}

		span {
			width: 50%;
		}
	}

	.contentImgContainer {
		width: 30%;
		min-width: 170px;
		padding: 20px;

		img {
			border-radius: 0;
		}
	}
}

////////////////////////////////////////////////////////
.portfolio {
	&Container {
		@include flexRow(center, center);
		flex-wrap: wrap;
		height: calc(100% - 65.3px);
	}

	.projectContainer {
		width: 50%;
		height: 50%;
		padding: 10px;
	}
	.imgContainer {
		padding:20px;
		position: relative;
		margin: 0 auto;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		
	}

	.project {
		&1Image {
			background: radial-gradient(circle, $color1 55%, #fafafa 50%);
		}
		&2Image {
			background: radial-gradient(circle, $color2 55%, #fafafa 50%);
		}
		&3Image {
			background: radial-gradient(circle, $color3 55%, #fafafa 50%);
		}
		&4Image {
			background: radial-gradient(circle, $color4 55%, #fafafa 50%);
		}
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	h3,
	p {
		position: absolute;
	}
}

///////////////////////////////////////////////////////
section.skills {
	ul {
		margin: 20px;
		@include flexRow(center, center);
		flex-wrap: wrap;
		text-align: center;
		height: 80%;
	}
	&.lightTheme li {
		box-shadow: 0 0 10px 2px #ccdce3;
	}
	&.darkTheme li {
		background: $black;
		box-shadow: none;

		h3 {
			text-shadow: none;
		}

		i {
			color: $black;
		}
	}
	li {
		width: calc(20% - 10px);
		margin: 5px;
		padding: 10px;
		height: 40%;
		transition: background 0.5s, box-shadow 0.5s;

		div {
			width: 100%;
			padding: 10px 0;
			margin-bottom: 10px;
		}

		i {
			font-size: 7rem;
			background: transparent;
			color: $white;
		}

		img {
			height: 70px;
			width: auto;
			margin: 0 auto;
		}
	}
	h3 {
		font-size: 1.6rem;
		background: transparent;
		text-shadow: 0px 0px 1px #ccdce3;

		&.skill1 {
			color: $color1;
		}
		&.skill2 {
			color: $color2;
		}
		&.skill3 {
			color: $color3;
		}
		&.skill4 {
			color: $color4;
		}
		&.skill5 {
			color: $color5;
		}
	}
}

///////////////////////////////////////////////////////
.resume {
	overflow-y: hidden;
	padding-bottom: 0;

	h3 {
		position: relative;
		display: inline-block;
		width: calc(100% - 20px);
		padding: 10px 20px;
		font-size: 2rem;
		color: $white;

		span {
			position: absolute;
			top: 16px;
			right: 20px;
			display: inline-block;
			border-right: 2px solid $white;
			border-bottom: 2px solid $white;
			width: 10px;
			height: 10px;
			transform: rotate(-45deg);
			transform-origin: center;
			transition: transform 0.2s;
		}
	}

	p {
		font-size: 1.6rem;
		margin: 0;
	}

	h4 {
		font-size: 1.6rem;
		span {
			font-style: italic;
			font-weight: normal;
			font-size: 1.6rem;
		}
	}

	li {
		font-size: 1.6rem;
	}

	.bulletPoint {
		position: relative;
		margin: 0;
		transition: margin 0.5s;
	}

	.bulletPoint:before {
		content: " ";
		width: 1.5rem;
		height: 1.5rem;
		line-height: 0.5;
		position: absolute;
		top: 0;
		left: -28px;
		border-radius: 50%;
	}

	.resumeInfo {
		position: relative;
		height: 0;
		transition: height 0.5s, margin 0.5s;
		background: inherit;
		color: inherit;
		padding: 0 20px;
	}
	.resumeInfo > ul {
		padding: 10px 0 10px 20px;
		height: 100%;
	}

	h3.activeResume span {
		transform: rotate(45deg);
	}

	h3.activeResume + .resumeInfo {
		position: relative;
		height: calc(80vh - 194px);

		.bulletPoint {
			margin-bottom: 10px;
		}
	}
}

.employment {
	.duration {
		color: $color1;
	}

	> ul {
		border-left: 2px solid $color1;
	}
	.bulletPoint:before {
		background: $color1;
	}
}
.education {
	li {
		font-size: 1.6rem;
		font-weight: bold;
		span {
			font-style: italic;
			font-weight: normal;
		}
	}
	p {
		font-weight: normal;
		color: $color2;
	}

	> ul {
		border-left: 2px solid $color2;
	}
	.bulletPoint:before {
		background: $color1;
	}
}

.contact {
	@include flexCol(space-between, flex-start);
	padding: 20px 0;

	form {
		@include flexRow(center, center);
		flex-wrap: wrap;
		font-size: 2rem;
		margin: 20px;
	}

	input {
		width: calc(50% - 10px);
		margin: 0;

		&:first-of-type {
			margin-right: 20px;
		}
	}

	textarea {
		width: 100%;
		height: 200px;
		resize: none;
	}

	input,
	textarea {
		border-radius: 5px;
		padding: 10px;
		border: none;
		border: 2px solid $color5;
		margin-top: 20px;
	}
	input[type="submit"] {
		width: 100%;
		background: $color5;
	}
	form.lightTheme {
		box-shadow: none;
	}

	form.darkTheme {
		input,
		textarea {
			color: $white;
			background: #555;
		}

		::placeholder {
			color: $white;
			opacity: 0.7;
		}
	}
}
