@mixin maxWidth1080 {
	@media (max-width: 1080px) {
		@content;
	}
} // variables
$color1: #fe5e41;
$color2: #ff9f1c;
$color3: #ffbf69;
$color4: #44f0c2;
$color5: #6ea9f2;
$white: #fafafa;
$black: #2e2e2e;
$lightBackground: #f7f4f3;
$darkBackground: #19191b;

// wcag 3 contrast
// $color1: #fb5b38;

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

$headingStack: "Abril Fatface", cursive;
$mainStack: "Roboto", sans-serif;

//mixins
@mixin flexRow($justify: center, $align: center) {
	display: flex;
	flex-direction: row;
	justify-content: $justify;
	align-items: $align;
}

@mixin flexCol($justify: center, $align: center) {
	display: flex;
	flex-direction: column;
	justify-content: $justify;
	align-items: $align;
}

//media query mixins

// major break
@mixin maxWidth840 {
	@media (max-width: 840px) {
		@content;
	}
}

@mixin maxWidth600 {
	@media (max-width: 600px) {
		@content;
	}
}

@mixin maxWidth500 {
	@media (max-width: 500px) {
		@content;
	}
}

@mixin maxHeight630 {
	@media (max-height: 630px) {
		@content;
	}
}

@mixin maxWidth840maxHeight590 {
	@media (max-width: 840px), (max-height: 590px) {
		@content;
	}
}
